header {
  .header-bar {
    background: url("./../../../assests/images/header-bg.jpg") no-repeat center center;
    background-size: cover;
  }

  .header-bar-wrapper {
    background-color: rgba(33, 29, 29, 0.7);
  }

  .full-screen {
    width: 100%;

    input {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  h3 {
    position: relative;
    text-transform: uppercase;
    color: #fff;
  }

  .filter-options {
    span {
      text-transform: uppercase;
      margin-right: 15px;
      font-size: 12px;
      color: #565656;

      &:first-child {
        color: #fff;
      }

      &:last-child {
        margin-right: 0px;
      }

      &.tag {
        font-size: 12px;
      }
    }
  }

  .summarise-results-panel {
    background-color: #ccc;
    padding: 1rem 1.5rem;

    .level-right {
      .item-option {
        margin-left: 15px;
        
        &:first-child {
          margin-left: 0px;
        }
      }
    }
  }
}
