header {
  &.header-wrapper {
    background: url("./../../../assests/images/header-bg.jpg") no-repeat center center;
    background-size: cover;

    .header-bar {
      background-color: rgba(33, 29, 29, 0.7);
    }
  }

  .full-screen {
    width: 100%;

    input {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;

      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .filter-options {
    &.search-panel {
      span {
        &:not(:last-child) {
          margin-right: 15px;
        }

        &.tag {
          cursor: pointer;
        }
      }
    }

    &.display-results {
      span {
        &:not(:last-child) {
          margin-right: 15px;
        }

        &.tag {
          cursor: pointer;
        }
      }
    }
  }

  .summarise-results-panel {
    background-color: #ccc;
    padding: 1rem 1.5rem;
  }
}
